.flex-container {
    width: 50vw;
    height: 50vh;
    background-color: yellow;
    display: flex;
    flex-direction: column-reverse;
}

.flex-item {
    width: 15%;
    height: 15%;
    background-color: violet;
    border: 1px solid rgb(252, 252, 252);
}