.div-footer {
    margin: 0 0 15% 2%;
    float: left;
    max-width: 32%;
    max-height: 80%;
    padding: 1em 7px 1px 1em;
    align-items: center;
}

.div-footer p {
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}

.div-footer img {
    padding: 0 3px 0 0;
    width: 24px;
}