.div-footer {
    margin: auto;
    float: left;
    width: 42%;
}

.div-footer p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.div-footer img {
    margin: 3px 0 0 3px;
    width: 2em;
    float: left;
}