    @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
    .formulario {
        margin: auto;
        width: 500px;
        position: relative;
        top: -39px;
    }
    
    .input {
        margin: 7px 0px 0 0px;
        width: 100%;
        height: 40px;
    }
    
    .formulario textarea {
        margin: 7px 0px 0 0px;
        width: 100%;
        height: 100px;
    }
    
    .input:hover {
        background-color: antiquewhite;
        color: black;
    }
    
    .button {
        background-color: rgb(172, 27, 27);
        color: white;
        font-style: bold;
    }