#galeria {
    margin: 1rem auto;
    width: 100%;
    max-width: 960px;
    padding: 0 10px 10px;
    box-sizing: border-box;
    column-count: 3;
    /* Espacio entre columnas */
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
}

#galeria header {
    -webkit-column-span: all;
    column-span: all;
}

article {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 0 20px 0;
    text-align: center;
    max-width: 90%;
    filter: opacity(70%);
    /*Evitamos que se corte al cambiar de columna*/
    break-inside: avoid;
    page-break-inside: avoid;
}

article img {
    width: 80%;
}

article:hover {
    transition: .5s ease;
    filter: opacity(100%);
}

figure {
    padding: 1rem;
    box-sizing: border-box;
}


/* Móviles en horizontal o tablets en vertical */

@media (max-width: 767px) {
    #galeria {
        columns: 2;
    }
}


/* Móviles en vertical */

@media (max-width: 480px) {
    #galeria {
        columns: 1;
    }
}