    .menu-main {
        display: flex;
        justify-content: space-between;
        background: rgb(244, 0, 133);
        height: 45px;
        max-width: 70%;
    }
    
    .menu-main a {
        flex: 1;
        font-family: arial;
        display: flex;
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 30%;
        z-index: 1;
    }
    
    .menu-main a:hover {
        background: #ff7c00;
    }
    
    .menu-main a.active {
        background-color: #ffd3aa;
    }
    
    @media (max-width: 768px) {
        .menu-main {
            height: auto;
            border-bottom: 0px;
            display: block;
        }
        .menu-main a {
            height: 45px;
            border-bottom: 1px solid #29487d;
        }
    }
    
    .logo {
        width: 15%;
        border-radius: 50%;
        position: absolute;
        z-index: 100;
        top: 2%;
        left: 5%;
    }
    
    .img-whatsapp {
        position: relative;
        float: right;
        top: -40px;
        width: 100px;
        border-radius: 50%;
    }
    
    .img-whatsapp:hover {
        width: 120px;
        border: 3px solid rgb(15, 58, 15);
        transition: .5s ease;
        filter: opacity(100%);
    }