html {
    background-color: rgb(172, 31, 85);
}

header {
    margin: 10% 0 0 0;
    background-color: none;
}

main {
    margin: auto;
    padding: 10% 0 80% 0;
    background-color: antiquewhite;
}

footer {
    background-color: black;
}