html {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244, 0, 133);
}

header {
    margin: 3% 0 0 0;
    padding: 1%;
    background: rgb(244, 0, 133);
}

main {
    margin: auto;
    padding: 10% 0 10% 0;
    background-color: antiquewhite;
}

footer {
    background-color: black;
    width: 100%;
    height: 7em;
    color: white;
}