#slider-content {
    position: relative;
    top: -43px;
    margin: auto;
    width: 60%;
}

#slider-content img {
    border-radius: 7px;
}

#nosotros h3 {
    margin: auto;
}

.div-nosotros {
    width: 40%;
    margin: 40px 0 5px 15px;
}

.div-nosotros>p {
    float: right;
    font-size: 18px;
    padding: -1px 1px 0 2px;
    position: relative;
    left: 120%;
    top: -324px;
}

.div-nosotros iframe {
    border: 1px solid rgb(85, 4, 0);
    width: 600px;
    height: 300px;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
}