.container-selecion-productos {
    padding: 0 0 0 6em;
    border: none;
    position: relative;
    top: -50px;
    width: 700px;
    margin: auto;
}

.container-selecion-productos img {
    margin: 0;
    width: 20%;
}

.container-selecion-productos img:hover {
    width: 24%;
    transition: .4s ease;
}