.img-promo {
    border: 4px solid rgb(14, 12, 12);
    border-radius: 3%;
    width: 100%;
    margin: 5% 5% 0 4%;
    position: relative;
    float: left;
}

.img-promo:hover {
    border: 4px solid rgb(240, 8, 135);
    border-radius: 3%;
    width: 102%;
    margin: 5% 5% 0 4%;
}

#promociones {
    max-width: 20%
}

.textarea {
    width: 15rem;
    color: white;
}

.flex-container {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.flex-container>div {
    display: flex;
    border-radius: 3px;
}